* {
  box-sizing: border-box;
}

body {
  background-color: beige;
  color: black;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.navbar {
  background-color: sienna;
}

.nav-item {
  padding: 3px;
}

.nav-link {
  color: beige;
}

.navbar-brand {
  color: beige;
}

.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
