* {
  box-sizing: border-box;
}

body {
  background-color: beige;
  color: black;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.navbar {
  background-color: sienna;
}

.navbar-nav {
  display: flex;
  display: inline-block;
}
.nav-item {
  padding: 3px;
  display: inline-block;
}

.nav-link {
  color: beige;
}

.navbar-brand {
  color: beige;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

button {
  margin: 10px;
  font-size: 1rem;
  padding: 0.4rem;
  border-style: 1px solid transparent;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: white;
  background-color: rgb(80, 71, 71);
  transition-duration: 0.4s ease-in;
}

button:hover {
  background-color: rgb(119, 110, 110);
}

.delete {
  background-color: rgb(124, 38, 27);
}

.delete:hover {
  background-color: rgb(121, 49, 39);
}

ul {
  list-style-type: none;
}

.lists {
  margin: 30px;
}

.lists p {
  font-size: 1.3rem;
}

.delete-wrapper {
  margin: 30px;
}

.profile-wrapper {
  margin: 30px;
  display: flex;
  flex-direction: column;
}
.task-list {
  margin-bottom: 30px;
}

.completed {
  margin-bottom: 80px;
}

/* WUNDERLIST+ STYLING */
.lists-wrapper ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 30px;
}
.lists-wrapper h3 {
  text-decoration: underline;
}
.single-list ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0;
}
.single-list h5 {
  color: sienna;
}
.single-list button {
  margin: 0;
}
.checklist-form {
  display: flex;
  flex-direction: column;
}
.hidden {
  display: none;
}
